.fundoCadastro {
    background-image: url("https://ik.imagekit.io/yjt8pt6d8/9194851.png?updatedAt=1737042042285");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }